<ion-header>
  <ion-toolbar>
    <ion-title>Task</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button id="logout-button" color="medium" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="edit-button" (click)="edit()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="section"><span class="label">Name:</span> {{ task?.name }}</div>

  <div class="section">
    <div class="label">Description:</div>
    <div>{{ task?.description }}</div>
  </div>

  <div class="section"><span class="label">Project:</span> {{ task?.projectName }}</div>

  <div class="section">
    <div><span class="label">Status:</span> {{ task?.status }}</div>
    <div><span class="label">Task Type:</span> {{ task?.type }}</div>
    <div><span class="label">Priority:</span> {{ task?.priority }}</div>
    <div>
      <span class="label">Entered On:</span>
      {{ task?.enteredOn.seconds * 1000 | date }}
    </div>
    <div *ngIf="task?.beginDate">
      <span class="label">Scheduled:</span> {{ task?.beginDate | date }}
      <span *ngIf="task?.beginDate !== task?.endDate"> - {{ task.endDate | date }}</span>
    </div>
  </div>

  <app-notes-list *ngIf="task" [itemId]="task.id"></app-notes-list>
</ion-content>
