<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="medium" (click)="add()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Tasks </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header *ngIf="openTasks && openTasks.length">
      <ion-label>Open Tasks ({{ openTasks.length }})</ion-label>
    </ion-list-header>
    <app-task-list-item
      *ngFor="let task of openTasks"
      [task]="task"
      (view)="view(task)"
      (delete)="delete(task)"
      (done)="close(task)"
    ></app-task-list-item>

    <ion-list-header *ngIf="repeatingTasks && repeatingTasks.length">
      <ion-label>Repeating Tasks ({{ repeatingTasks.length }})</ion-label>
    </ion-list-header>
    <app-task-list-item
      *ngFor="let task of repeatingTasks"
      [task]="task"
      (view)="view(task)"
      (delete)="delete(task)"
      (done)="close(task)"
    ></app-task-list-item>

    <ion-list-header *ngIf="onHoldTasks && onHoldTasks.length">
      <ion-label>On Hold ({{ onHoldTasks.length }})</ion-label>
    </ion-list-header>
    <app-task-list-item
      *ngFor="let task of onHoldTasks"
      [task]="task"
      (view)="view(task)"
      (delete)="delete(task)"
      (done)="close(task)"
    ></app-task-list-item>

    <ion-list-header *ngIf="closedTasks && closedTasks.length">
      <ion-label>Closed ({{ closedTasks.length }})</ion-label>
    </ion-list-header>
    <app-task-list-item
      *ngFor="let task of closedTasks"
      [task]="task"
      (view)="view(task)"
      (delete)="delete(task)"
    ></app-task-list-item>
  </ion-list>
</ion-content>
