<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="medium" (click)="authentication.logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Tasks </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let task of allTasks">
      <ion-label>
        <div class="title">{{task.name}} - {{task.status}}</div>
        <div class="timestamp">{{task.enteredOn.seconds * 1000 | date }}</div>
        <div class="description">{{task.description}}</div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
