<ion-tabs *ngIf="application.showTabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tasks">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customers">
      <ion-icon name="people"></ion-icon>
      <ion-label>Customers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-router-outlet *ngIf="!application.showTabs"></ion-router-outlet>
