<ion-header>
  <ion-toolbar>
    <ion-title>Project</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="tabs/projects"></ion-back-button> -->
      <!-- see https://github.com/ionic-team/ionic/issues/15216 -->
      <ion-back-button
        defaultHref="tabs/projects"
        (click)="navController.navigateBack('tabs/projects')"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button id="logout-button" color="medium" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="edit-button" (click)="edit()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="name-section" class="section">
    <span class="label">Name:</span> {{ project?.name }}
  </div>

  <div id="description-section" class="section">
    <div class="label">Description:</div>
    <div>{{ project?.description }}</div>
  </div>

  <div id="is-active-section" class="section">
    <span class="label">Is Active:</span> {{ project?.isActive }}
  </div>

  <div class="section">
    <ion-list id="tasks-list" lines="none">
      <ion-list-header> <ion-label>Tasks:</ion-label> </ion-list-header>
      <ion-item
        class="clickable"
        (click)="navController.navigateForward(['tabs', 'projects', project.id, 'tasks'])"
      >
        <ion-label>All ({{ taskCount() }})</ion-label>
      </ion-item>
      <ion-item
        class="clickable"
        *ngFor="let status of statuses"
        (click)="navController.navigateForward(['tabs', 'projects', project.id, 'tasks', status])"
        ><ion-label>{{ status }} ({{ taskCount(status) }})</ion-label></ion-item
      >
    </ion-list>
  </div>

  <app-notes-list *ngIf="project" [itemId]="project.id"></app-notes-list>
</ion-content>
