<ion-app>
  <ion-router-outlet *ngIf="application.showTabs"></ion-router-outlet>

  <ion-split-pane contentId="main-content" *ngIf="!application.showTabs">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar> <ion-title>Menu</ion-title> </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item id="menu-item-tasks" routerLink="/tabs/tasks">
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Tasks</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item id="menu-item-projects" routerLink="/tabs/projects">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>Projects</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item id="menu-item-about" routerLink="/tabs/about">
              <ion-icon slot="start" name="information-circle-outline"></ion-icon>
              <ion-label>About</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
