// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@mixin message($variation) {
  color: var(--ion-color-#{$variation});
  background-color: rgba(var(--ion-color-#{$variation}-rgb), 0.05);
  padding: 1em;
  border-top: 1px solid var(--ion-color-#{$variation});
  border-bottom: 1px solid var(--ion-color-#{$variation});
  font-weight: bold;
}

.error {
  @include message('danger');
}

.info {
  @include message('success');
}

.warning {
  @include message('warning');
}

.title {
  font-weight: bold;
}

.label {
  font-weight: bolder;
}

.clickable {
  cursor: pointer;
}

.description {
  color: var(--ion-color-medium, black);
  white-space: normal;
}

.section {
  margin-top: 1em;
}

.timestamp {
  font-size: small;
  color: var(--ion-color-medium, black);
}
