<ion-header>
  <ion-toolbar>
    <ion-title>Customer</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="edit()"
        ><ion-icon slot="icon-only" name="create"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="tabs/customers"></ion-back-button> -->
      <!-- see https://github.com/ionic-team/ionic/issues/16923 -->
      <ion-button
        color="medium"
        (click)="navController.navigateBack(['tabs', 'customers'])"
        ><ion-icon slot="icon-only" name="arrow-back"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="section">
    <span class="label">Name:</span> {{ customer?.name }}
  </div>

  <div class="section">
    <div class="label">Description:</div>
    <div>{{ customer?.description }}</div>
  </div>

  <div class="section">
    <span class="label">Is Active:</span> {{ customer?.isActive }}
  </div>

  <div class="section">
    <ion-list lines="none">
      <ion-list-header> <ion-label>Tasks:</ion-label> </ion-list-header>
      <ion-item>
        <ion-label>All ({{ taskCount() }})</ion-label>
      </ion-item>
      <ion-item *ngFor="let status of statuses"
        ><ion-label>{{ status }} ({{ taskCount(status) }})</ion-label></ion-item
      >
    </ion-list>
  </div>
</ion-content>
